################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JokeanIntento1/FileContentIndex/b166765b-c6c5-40c1-b0a6-26b3d5a58232.vsidx
/.vs/JokeanIntento1/FileContentIndex/a1a85894-b620-47f0-bbe0-18e03aa508ab.vsidx
