@inherits LayoutComponentBase

@* <nav>
    <ul>
        <li>
            <NavLink href="/">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/post">
                Post
            </NavLink>
        </li>
    </ul>
</nav> *@
<div>
    @Body
</div>

